/* CSS for things specific to our template. The tabs for Lane selection
 * for example.
 */

#page_browser {
  width: 100%;
  margin: 30px 0;
  background: #ddf;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
  box-shadow: 2px 3px 4px rgba(51,51,51, 0.2);
}
#page_browser_header {
  height: 30px;
  padding: 7px 5px;
}
#page_browser_buttons span {
    height: 12px;
    width: 12px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #eee;
    border: 1px solid #bbb;
    float: left;
    margin: 2px 0 0 4px;
    cursor: pointer;
}
#page_browser_buttons span:first-of-type { background-color: #fa5657; border-color: #ec4840; }
#page_browser_buttons span:nth-of-type(2){ background-color: #ffb845; border-color: #e79d48; }
#page_browser_buttons span:last-of-type{ background-color: #54c953; border-color: #52ab3f; }
#page_browser_buttons span:first-of-type:hover { background-color: #ec4840; }
#page_browser_buttons span:nth-of-type(2):hover{ background-color: #e79d48; }
#page_browser_buttons span:last-of-type:hover{ background-color: #52ab3f; }
#page_browser_title {
  display:inline-block;
  font-weight: 400;
  margin: 1px 10px;
  vertical-align: top;
  padding-left: 10px;
}

#page_browser_tabs {
  font-size: 12px;
  margin: -9px 0 0;
  list-style-type: none;
  line-height: 32px;
  max-height: 32px;
  overflow: hidden;
  display: inline-block;
  padding: 0 20px;
}
#page_browser_tabs li.active, #page_browser_tabs li:active {
  z-index: 2;
  background: #efefff;
  font-weight: bold;
}
#page_browser_tabs li:hover, #page_browser_tabs li:focus {
  background: #eee;
}
#page_browser_tabs li {
  float : right;
  margin : 5px -10px 0;
  border-top-right-radius: 35px 140px;
  border-top-left-radius: 20px 40px;
  padding: 0 33px 0 19px;
  height: 140px;
  background: #ddd;
  position : relative;
  box-shadow: 0 10px 20px rgba(0,0,0,.5);
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
}
#page_browser_tabs li a {
  display: inline-block;
  max-width:100%;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: #222;
}

#page_browser page {
  width: 100%;
  height: 597px;
  border: none;
}

/* Deactivate inactive tabs when we only have the summary to show */
#page_browser.page_browser_overview li:not(.active) {
  opacity: .5;
  pointer-events: none;
  tabindex: -1
}

/* Coloured tabs when the lane flag status gets set */
#page_browser li.lui_state_true {
  background: #96ffd6;
}
#page_browser li.lui_state_false {
  background: repeating-linear-gradient(
                45deg,
                #ffc877,
                #ffc877 5px,
                #eab669 5px,
                #eab669 10px );
}

#page_browser div#page_browser_lui {
    padding: 6px 8px;
    background-color: #efefff ;
    display: block;
}
#page_browser div#page_browser_lui.lui_state_true {
  background: #96ffd6;
}
#page_browser div#page_browser_lui.lui_state_false {
  background: repeating-linear-gradient(
                45deg,
                #ffc877,
                #ffc877 5px,
                #eab669 5px,
                #eab669 10px );
}

/* Make disabled button look disabled */
#page_browser button:disabled {
    opacity: .5;
    /* border: 1px solid #efefff; */
}

.lui_state_true h1 {
  background: #96ffd6;
}

.lui_state_false h1 {
  background: repeating-linear-gradient(
                45deg,
                #ffc877,
                #ffc877 5px,
                #eab669 5px,
                #eab669 10px );
}

/* Random italics */
.mqc-section h3 {
  font-style: italic;
}

/* Slightly smaller title in the nav bar please */
.side-nav .side-nav-title {
    color: #333;
    font-size: 14px;
    font-weight: normal;
    padding: 6px 0;

}
.side-nav .side-nav-title a {
    color: #337ab7;
    font-size: 12px;
    padding: 4px 0;
}

/* Links with alternating colours within the parent div */
a.alt_col_link:nth-child(even) {
    color: #8263bb;
}

/* Link groups with alternating colours within the parent div */
span.alt_col_link {
    white-space: nowrap;
}
span.alt_col_link:nth-child(even) a {
    color: #8263bb;
}

/* Override bootstrap colours to make it easier for Matt to see */
.progress-bar-success {
  //background-color: #5cb85c;
  background-color: #5cb69e;
}

.progress-bar-info {
  background-color: #5bc0de;
}

.progress-bar-warning {
  background-color: #f0ad4e;
}

.progress-bar-danger {
  //background-color: #d9534f;
  background-color: #d95e00;
}
